.sidebar {
  padding: 60px 20px 60px 0;
  width: 40%;
  max-width: 250px;
  margin-right: 20px;

  &__form {
    margin-bottom: 50px;
    display: flex;
    border: 1px solid #dadada;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 15px;
    color: $blue-dark;
    font-family: $font-headings;

    &:after {
      content: "";
      background-color: $grey-light;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 36px;
      height: 3px;
    }
  }

  &__list {
    padding-left: 0;
    margin-bottom: 30px;
  }

  &__list-item {
    list-style: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 0.5px solid rgba($grey-light, 0.5);
    display: flex;
  }

  &__list-link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    color: $title-color;
    font-family: $font-default;
    transition: all 0.6s ease 0s;
    position: relative;
    width: 100%;

    &:hover {
      color: $blue;
      padding-left: 15px;
    }
  }

  &__list-link--active {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    transition: all 0.6s ease 0s;
    color: $blue;
    padding-left: 15px;

    &:hover {
      color: $blue;
      padding-left: 15px;
    }
  }

  &__list-count {
    display: block;
    right: 0;
    bottom: 0;
    position: absolute;
    align-self: flex-end;
  }

  &__list-btn {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    color: #1daaa3;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    transition: all 0.6s ease 0s;
    position: relative;
    display: flex;
    width: 100%;

    button {
      color: #1daaa3;
      padding: 10px 0;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    max-width: 100%;
    padding-bottom: 40px;
  }
}

.brands {

  &__list-item {
    background-color: $blue-light3;
    border-radius: 40px;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    transition: 0.3s ease;

    &:hover {
      background-color: $blue-light2;

      .brands__list-link {
        color: $title-color;
      }
    }
  }

  &__list-link {
    padding-left: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: $font-headings;

    &:hover {
      padding-left: 0;
    }
  }

  &__list-link--active {
    padding-left: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: $font-headings;

    &:hover {
      padding-left: 0;
    }
  }
}

.sidebar__form {
  width: 100%;
  font-family: $font-default;
  border: none;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &-group {
    border: 1px solid $grey-light;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

  }

  &-select {
    appearance: none;
    border: 0;
    padding: 8px 10px;
    font-family: $font-default;
    color: $title-color;
    width: 220px;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &-option {
    width: 200px;
  }

  &-icon {
    position: absolute;
    right: 20px;
    z-index: 20;
    font-size: 18px;
    color: $title-color;
    bottom: 3px;
  }
}

.sidebar__btn {
  margin-bottom: 20px;
}

.sidebar__reset {
  font-family: $font-default;
  font-size: 14px;
  color: $white;
  background-color: $main-color-mix;
  padding: 5px 15px;
  border-radius: 30px;
  transition: 0.3s ease;

  &:hover {
    background-color: $main-color-mix2;
  }
}


