.error {
  padding: 60px 0;
  background-color: $blue-light3;

  &__inner {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(md) {
      min-height: 300px;
    }
  }

  &__title {
    font-size: 50px;
    margin-bottom: 30px;
    font-family: $font-headings;
    font-weight: 600;
    text-align: center;

    @include media-breakpoint-down(md) {
      font-size: 30px;
    }
  }

  &__number {
    font-size: 70px;
    color: $white;
    font-family: $font-headings;
    margin-bottom: 20px;

    @include media-breakpoint-down(md) {
      font-size: 40px;
    }
  }

  &__btn {
    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
  }
}
