.heading__container {
  width: 100%;
  min-height: 400px;
  position: relative;
}

.heading__inner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  min-height: 400px;
}

.heading__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba($main-color, 0.10);
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba($main-color, 0.7654412107) 0%, rgba($main-color, -0.295081) -22%, rgb(255, 255, 255) 94%);
    z-index: 5;
  }
}

.heading__image--reversed {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(359deg, rgba($main-color, 0.7654412107) 0%, rgba($main-color, -0.295081) -22%, rgb(255, 255, 255) 94%);
    z-index: 5;
  }
}

.heading__title {
  font-size: 3rem;
  color: $black;
  z-index: 6;
}

@media screen and (max-width: 768px) {
  .heading__title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .heading__title {
    font-size: 2rem;
  }
}
