.hero {
  background-color: $blue-light3;
}

.hero__inner {
  width: 100%;
  position: relative;
}

.hero__slider {
  height: 100%;
}

.hero__slide {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 1370px;
  padding: 30px 20px;
}

.hero__img-wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  @include media-breakpoint-down(md) {
    position: relative;
    height: 550px;
  }

  @include media-breakpoint-down(sm) {
    height: 100%;
  }

}

.hero__img {
  width: 100%;
  max-width: 700px;
}

.hero__title {
  position: relative;
  z-index: 5;
  text-align: center;
  color: rgb(65, 186, 227);
  font-family: $font-headings;
  font-weight: 600;
  margin-bottom: 60px;
  white-space: nowrap;
  @include responsive-font(100, 120, 1025, 1540);

  @include media-breakpoint-down(md) {
    font-size: 50px;
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 40px;
  }

}

.hero__content {
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

.hero__left {
  padding-left: 5%;

  @include media-breakpoint-down(md) {
    padding-left: 0;
    margin-bottom: 60px;
  }
}

.hero__subtitle {
  font-size: 25px;
  color: rgb(114, 114, 114);
  margin-bottom: 10px;
  font-family: $font-headings;
  font-weight: 500;

}

.hero__subtitle-text {
  font-size: 35px;
  color: $title-color;
  margin-bottom: 20px;
  font-family: $font-headings;
  font-weight: 500;
  max-width: 300px;

  @include media-breakpoint-down(md) {
    max-width: unset;
  }
}

.hero__right {
  width: 25%;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.hero__stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.hero__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.hero__icon {
  border-radius: 50%;
  background-color: $blue-dark2;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: $white;
  margin-right: 20px;
}

.hero__text {
  font-size: 16px;
  color: $title-color;
  line-height: 16px;
  font-weight: 500;
  max-width: 150px;

  @include media-breakpoint-down(md) {
    max-width: unset;
  }
}

.hero__navigation {
  position: absolute;
  top: 50%;
  z-index: 5;
}

.hero {
  position: relative;

  .swiper-button-prev, .swiper-button-next {
    font-size: 16px !important;
    border-radius: 50% !important;
    background-color: rgba($blue-light, 0.7) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 35px !important;
    height: 35px !important;
    color: $white !important;

    &::after {
      font-size: 16px !important;
    }
  }


}
