.product__card-holder {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &:hover {
    .card__img {
      transform: scale(1.1);
    }

    .button--round {
      color: $white;

      &::after {
        width: 100%;
      }
    }

    .card__hover {
      left: 10px;
    }

  }
}

.product__card {
  //width: 22%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
  font-family: $font-default;
  color: $black;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;

}

.card__hover {
  position: absolute;
  left: -50px;
  top: 20px;
  padding-top: 10px;
  background-color: $white;
  border-radius: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;

  span {
    font-size: 25px;
    color: $main-color;
  }

}

.card__img-holder {
  width: 100%;
  height: 340px;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 10px;
}

.card__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease-in;
}

.card__reviews {
  color: $yellow;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 10px;
}

.card__title {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  color: $black;
  font-family: $font-default;
  margin-bottom: 10px;
}

.card__control {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card__icon {
  background-color: transparent;
  line-height: 40px;
  border-radius: 100%;
  font-size: 22px;
  text-align: right;
  padding-right: 8px;
  position: absolute;
  bottom: -1px;
  left: 9px;
}

.card__price {
  color: $main-color;
  font-weight: 600;
  font-size: 20px;
}

.card__cart-btn {
  position: relative;
}